.principal-services {
    width: 99%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-services {
    width: 40%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Services-icon {
    margin-left: 2px;
}

.nav-services {
    width: 50%;
    height: auto;
    padding: 5px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* Define el snapping horizontal */
    -ms-overflow-style: none;  /* Para IE y Edge */
    scrollbar-width: none;  /* Para Firefox */
}

.nav-services::-webkit-scrollbar {
    display: none;  /* Oculta la barra de desplazamiento en navegadores WebKit */
}

.services-card {
    flex: 0 0 auto;
    width: 236px;
    text-align: center;
    margin-right: 20px;
    scroll-snap-align: start;  /* Las tarjetas se alinean al inicio al hacer scroll */
    margin-bottom: 15px;
}

.text-1 {
    text-align: center;
    width: 80%;
    font-size: 15px;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.img-services {
    width: 83%;
    height: 388px;
    /* Fija una altura para todas las imágenes */
    object-fit: cover;
    /* Esto asegura que la imagen se ajuste al contenedor sin distorsión */
    border-radius: 10px;
    /* Mantén el redondeo en las esquinas si lo deseas */
}
.text-scroll {
    font-size: small;
    text-align: center;
    padding-top: 6px;
}


@media (min-width: 769px) and (max-width: 920px) {
    .principal-services {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
    }

    .info-services {
        width: 80%; /* Ajusta el ancho */
    }
    .img-services {
        width: 100%;
        height: 300px;
    }
    .nav-services {
        width: 80%; /* Ajusta el ancho */
        justify-content: center; /* Centra el contenido */
    }

    .services-card {
        width: 156px;
    }

    .text-1 {
        font-size: 14px; /* Tamaño de texto reducido */
    }
    .text-scroll {
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .principal-services {
        flex-direction: column; 
        align-items: center; 
    }

    .nav-services {
        width: 90%; 
        justify-content: center; 
        padding: 0; 
    }

    .services-card {
        width: 45%; 
        height: auto;
        margin: 0 5%;
    }

    .img-services {
        width: 100%; 
        height: 65%;
    }
    .text-1 {
        font-size: 16px;
        width: 100%;
    }
    .info-services {
        width: 62%;
        margin-bottom: 10px;
    }
    .info-services h1{
        font-size: 20px;
    }
}

/* Pantallas extra pequeñas: hasta 480px */
@media (max-width: 480px) {
    .principal-services {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
        height: auto;
    }

    .info-services {
        width: 100%; /* Ajusta el ancho */
    }

    .nav-services {
        width: 80%; /* Ajusta el ancho */
        justify-content: center; /* Centra el contenido */
 
    }

    .services-card {
        width: 100%;
        height: 50%;
        margin-right: 0;
        margin-bottom: 10px; 
        margin: 15px;
    }

    .text-1 {
        font-size: 12px; 

    }
}
