/* NoProducts.css */
.no-products-container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 300px;
    text-align: center !important;
    color: #555;
    margin-top: 50px;
}

.no-products-icon {
    font-size: 80px;
    color: #d9534f;
    margin-bottom: 10px;
}

.no-products-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}