.about-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about-logo {
    width: 300px;
    height: auto;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

.about-title {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.about-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}

.about-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the video container takes up full vertical space */
}

.video-player {
    width: 60%; /* Increase width of the video to 60% */
    max-width: 450px; /* Increase the maximum width of the video */
    height: 450px; /* Increase the height of the video */
    border-radius: 10px; /* Rounded corners for the player container */
    overflow: hidden; /* Ensure that the border radius works properly */
}

.video-player video, /* If you're using a <video> tag */
.video-player iframe { /* If you're using an <iframe> tag for YouTube or similar */
    width: 100%; /* Ensure the video or iframe takes the full width */
    height: 100%; /* Ensure the video or iframe takes the full height */
    border: 4px solid #007BFF; /* Add a solid border with a blue color */
    border-radius: 10px; /* Ensure the corners are rounded to match the player */
}

.about-left {
    width: 80%;
    display: flex;
    flex-direction: column; /* Stacks child elements vertically */
    align-items: center; /* Centers child elements horizontally */
    justify-content: center; /* Centers child elements vertically */
    padding-left: 20px; /* Add some padding to the left */
    margin: 0 auto; /* Center the .about-left section within its grid cell */
}
