.location-container {
    display: flex;
    padding: 60px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; 
}

.video-alcop {
    display: flex; 
    justify-content: center; 
    max-width: 400px;
    height: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave alrededor del video */
}

/* Estilo del video */
.alcop-video {
    width: 100%; /* Ancho completo del video en pantallas pequeñas */
    max-width: 400px; /* Limitar el tamaño máximo del video */
    height: 500px; /* Reducir la altura para pantallas más pequeñas */
    margin-right: 0; /* Eliminar margen derecho del video */
}

.map-section {
    display: flex;
    flex-direction: column; /* Coloca el contenido en columnas */
    align-items: center; /* Centrar el contenido horizontalmente */
    max-width: 518px;
    
}

.logo-section {
    margin-bottom: 10px; /* Espacio entre el logo y la información */
}

.info-container {
    display: flex; /* Permite que el mapa y la descripción estén en fila */
    align-items: center; /* Alinea verticalmente */
    justify-content: center;
    text-align: center; /* Centra el texto */
    margin-top: 10px; /* Reduce el margen superior */
    border-bottom: 1px solid;
    padding-bottom: 28px;
}

.small-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.logoAlcop {
    width: 200px;
    height: auto; 
}

.map-section p {
    font-size: 16px; /* Reducir tamaño de fuente para que ocupe menos espacio */
    margin: 0; 
    width: 100%; /* Hacer que el texto ocupe todo el ancho permitido */
}
.map-section a {
    text-decoration: none;
    color: #007bff;
}

.map-section a:hover {
    text-decoration: underline; 
}


button {
    background-color: #b5b5b5; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    text-decoration: none; 
    margin-top: 20px;
}

button:hover {
    background-color: #a3a3a3; /* Cambia el color de fondo al pasar el ratón */
    /* No es necesario agregar text-decoration: none aquí, ya que el botón no es un enlace */
}

/* Asegúrate de que los enlaces dentro de la sección de botones no tengan subrayado */
.map-section a button {
    text-decoration: none; /* Asegura que el texto dentro de un botón no tenga subrayado */
}


@media (max-width:920px){
    .logoAlcop {
        margin-top: 30px;
    }
}
/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .location-container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centrar contenido */
    }

    .video-alcop {
        width: 100%; /* Ancho completo del video en pantallas pequeñas */
        max-width: 400px; /* Limitar el tamaño máximo del video */
        height: 350px; /* Reducir la altura para pantallas más pequeñas */
        margin-right: 0; /* Eliminar margen derecho */
    }
    
    .alcop-video {
        width: 100%; /* Ancho completo del video en pantallas pequeñas */
        max-width: 400px; /* Limitar el tamaño máximo del video */
        height: 350px; /* Reducir la altura para pantallas más pequeñas */
        margin-right: 0; /* Eliminar margen derecho */
    }

    .map-section {
        width: 100%; /* Ancho completo para la sección de información */
        align-items: center; /* Centrar contenido */
    }

    .info-container {
        flex-direction: column; /* Colocar el mapa y el texto uno debajo del otro */
        align-items: center; /* Centrar el contenido */
    }

    .small-image {
        margin-bottom: 10px; /* Espacio entre el mapa y el texto */
    }
    .logoAlcop {
        margin-top: 32px;
    }
}
