.product-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
  justify-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #b5b5b5;
  border-radius: 8px;
  min-height: 220px; /* Mantener la altura mínima */
  text-align: center;
  width: 420px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px); /* Reducir el efecto hover */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Reducir la sombra */
}

.product-card h2 {
  margin-bottom: 6px; /* Reducir el margen inferior */
  font-size: 14px; /* Reducir el tamaño del título */
  padding: 4px;
  height: auto;
  flex-grow: 0;
}

.product-card img {
  width: 90%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantener la proporción original de la imagen */
  object-fit: cover; /* Asegurar que la imagen se ajuste bien al contenedor */
  border-radius: 8px;
  margin-bottom: 10px; /* Incrementar el margen inferior para una mejor separación */
}

.qr-image {
  width: 75px !important; /* Tamaño del QR */
  height: auto !important;
  margin: 5px 0; /* Reducir el margen superior/inferior del QR */
}

.qr-text {
  font-size: 12px; /* Reducir el tamaño del texto del QR */
  color: #555;
  text-align: center;
}

.container-left {
  display: flex;
  flex-direction: column; /* Alinear los elementos en columna */
  justify-content: space-between; /* Espaciar los elementos */
  align-items: center;
  width: 100%;
  max-width: 1000px; /* Ajustar el ancho máximo del contenedor */
  padding: 10px; /* Reducir el padding */
  margin: 0 auto; /* Centrar el contenedor */
}

.container-left p {
  font-size: 16px; /* Tamaño del texto */
  line-height: 20px; /* Espacio entre líneas */
  margin: 0 10px; /* Ajustar el margen del párrafo para buena distribución */
  text-align: justify; /* Justificar el texto para mejor distribución */
}
