.service-container {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.page-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.service-name {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.service-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Centrar ambos contenedores verticalmente */
    gap: 20px;
}

.service-left,
.service-right {
    flex: 1;
    padding: 20px;
}

.service-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-video {
    width: 100%;
    height: 80vh;
    /* Video ocupa la mitad de la pantalla en altura */
    max-width: 400px;
    object-fit: cover;
    /* Mantiene la proporción del video */
}

.service-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centrar contenido verticalmente */
}

.service-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.whatsapp-redirect {
    margin-top: 20px;
    text-align: center;
}

.qr-image {
    width: 150px;
    height: auto;
}

.icon-clean {
    width: 50px;
    height: 50px;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
    .service-content {
        flex-direction: column;
        align-items: center;
    }

    .service-left,
    .service-right {
        width: 100%;
        max-width: 600px;
    }

    .service-video {
        max-width: 100%;
        height: auto;
    }
}