.service-details {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 60px auto;
}

.service-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.service-image {
    width: 300px;
}
.service-video {
    width: 80%;
    /* Ajusta el ancho a un 80% del contenedor */
    max-width: 500px;
    /* Máximo ancho permitido */
    height: auto;
    /* Mantiene la proporción correcta del video */
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.whatsapp-redirect {
    margin-top: 20px;
    text-align: center;
}

.qr-image {
    width: 150px;
    height: auto;
}