.headerbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  padding: 0 20px; 
}

.headerContent {
  display: flex;
  align-items: center; 
  margin: 0;
}

.logo {
  width: 100px;
  height: 40px;
  margin-right: 20px; 
}

.navHome {
  display: flex;
  align-items: center;
  gap: 4em;
}
.navHome a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  transition: border-bottom 0.2s ease, color 0.3s ease;
  position: relative; 
}

.navHome a:hover {
  border-bottom: 3px solid #b5b5b5; 
}

.navHome a.selected {
  border-bottom: 3px solid #b5b5b5; 
}


.hamburger {
  display: none; 
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .headerbox {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .headerContent {
    margin-bottom: 0; /* Sin margen inferior */
    display: flex;
    justify-content: space-between; /* Asegura que el logo y el botón se distribuyan correctamente */
    width: 100%;
  }

  .navHome {
    position: static;
    width: 100%; 
    flex-direction: column; 
    background-color: #fff; 
    display: none;
    padding: 0; /* Sin padding en el contenedor */
    margin: 0; /* Sin márgenes laterales */
  }

  .navHome.open {
    display: flex; /* Mostrar el menú cuando está abierto */
  }

  .navHome a {
    padding: 10px; /* Ajustar padding para mayor comodidad */
    text-align: left; /* Alinear el texto a la izquierda */
    width: 100%; /* Asegura que el enlace use el 100% del ancho */
    border-bottom: 1px solid #ddd; /* Separador entre los enlaces */
    margin: 0; /* Sin márgenes entre enlaces */
  }

  .logo {
    align-self: center; /* Centrar el logo en la columna */
    margin-top: 20px; /* Añadir margen superior para espaciar el logo del menú */
    margin-bottom: 10px; /* Espaciado adicional debajo del logo, si es necesario */
  }

  .hamburger {
    display: block; /* Mostrar el botón hamburguesa en pantallas pequeñas */
    margin-left: auto; /* Alinear a la derecha */
  }
}