.principal-services {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:50px;
    margin-bottom: 50px;
}

.info-services {
    width: 40%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Services-icon {
    margin-left: 2px;

}

.nav-services {
    width: 40%;
    /* Ajusta el ancho según el diseño */
    height: auto;
    padding: 5px;
    display: flex;
    overflow-x: auto;
}

/* Personalización para navegadores WebKit (Chrome, Safari, Edge) */
.nav-services::-webkit-scrollbar {
    height: 10px;
    /* Altura de la barra de desplazamiento */
}

.nav-services::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color de la barra */
    border-radius: 10px;
    /* Borde redondeado */
    border: 2px solid #f1f1f1;
    /* Espacio alrededor de la barra */
}

.nav-services::-webkit-scrollbar-thumb:hover {
    background-color: #727c73;
    /* Color de la barra al pasar el cursor */
}

.services-card {
    flex: 0 0 auto;
    /* Evita que las tarjetas se estiren */
    width: 200px;
    /* Ajusta el ancho de las tarjetas según tu diseño */
    margin-right: 20px;
    /* Espacio entre tarjetas */
    scroll-snap-align: start;
    /* Alineación de las tarjetas */
    margin-bottom: 15px;
    /* Añade espacio inferior */
}

.text-1 {
    width: 80%;
    font-size: 15px;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.img-services {
    width: 100%;
    /* El ancho será el 100% del contenedor padre */
    height: 340px;
    /* Fijamos la altura a 200px (puedes ajustarlo) */
    object-fit: cover;
    /* Esto asegura que la imagen se ajuste al tamaño sin distorsionarse */
    border-radius: 10px;
    /* Un pequeño redondeo en las esquinas, opcional */
}

.text-scroll {
    font-size:small;
    text-align: center;
    padding-top: 6px;
}