.footer-div {
    padding: 20px;
    background-color: #000;
    color: white;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.footer-link {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #ccc;
}
.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    text-align: center;
    color: #000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content h2 {
    border-bottom: 1px solid #000;
    margin-bottom: 35px;
  }
  
  button {
    margin-top: 20px;
  }
  
  .privacy-list {
    list-style-type: disc; /* Estilo de lista */
    padding-left: 20px; /* Espacio a la izquierda */
    margin-top: 10px; /* Espacio arriba */
    margin-bottom: 20px; /* Espacio abajo */
  }
  
  .privacy-item {
    margin-bottom: 15px; /* Espacio entre ítems */
    text-align: left; /* Alinear ítems al inicio */
  }
  
  /* Estilos de la superposición */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.563); /* Fondo oscuro con opacidad */
    z-index: 999; /* Un nivel menor que el modal */
  }

@media  (min-width: 481px) and (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr; 
    }
    .footer-grid > div {
        border-bottom: 1px solid #ccc; 
        padding-bottom: 20px; 
        margin-bottom: 20px;
    }

    .footer-grid > div:last-child {
        border-bottom: none;
    }
    .modal-content {
        padding: 20px; 
        max-width: 110%; 
      }
    
      .modal-content h2 {
        font-size: 20px; 
      }
    
      .privacy-item {
        font-size: 16px; 
      }
      .privacy-list {
        padding: 0 20px;
      }
}


@media (min-width: 352px) and (max-width: 480px) {
    .footer-grid {
        grid-template-columns: 1fr; 
    }

    
    .footer-grid > div {
        border-bottom: 1px solid #ccc; 
        padding-bottom: 20px; 
        margin-bottom: 20px;
    }

    
    .footer-grid > div:last-child {
        border-bottom: none;
    }
    .modal-content {
        padding: 15px; 
        max-width: 105%; 
      }
    
      .modal-content h2 {
        font-size: 18px; 
      }
    
      .privacy-item {
        font-size: 14px; 
      }
      .privacy-list {
        padding: 0 20px;
      }
}
