.div-img {
  width: 90%;
  /* Ajusta este valor para controlar el ancho total de la imagen */
  max-width: 1200px;
  /* Limita el ancho máximo si es necesario */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/Images/alfombrando-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: 100px; /* Aumenta el espacio con el header */
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.div-img-title {
  color: white;
  font-size: 50px;
}

.div-img-parragraph {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
